<h3>Redis Usage</h3>
<table id="redis_usage">
  <tr>
    <th>Total Calls</th>
    <td><%= stats.calls %></td>
    
    <th>Total Time</th>
    <td><%= stats.display_time %></td>    
  </tr>
</table>

<% if stats.queries.any? %>
  <h3>Breakdown</h3>
  <table id="redis_breakdown">
    <thead>
      <tr>
        <th>Time&nbsp;(ms)</th>
        <th>Command</th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 %>
      <% stats.queries.each do |query| %>
        <tr>
          <td><%= query.display_time %></td>
          <td><%= query.command %></td>
        </tr>

        <tr>
          <td></td>
          <td>
            <div class="opts">
              <%  if query.has_backtrace? %>
                <a href="#" class="reveal_backtrace">Show Backtrace</a>
              <% end %>
            </div>

            <% if query.has_backtrace? %>
              <ul style="display:none" class='backtrace'>
                <% query.filtered_backtrace.each do |line| %>
                  <li><%=h line %></li>
                <% end %>
              </ul>
            <% end %>
          </td>
        </tr>

        <% i += 1 %>
      <% end %>
    </tbody>
  </table>
<% end %>